body {
    padding-left: 25%;
    width: 50%;
    font-family: 'Inconsolata', monospace;
}

ul.nav {
    list-style-type: none;
    padding-left: 0px;
}

ul.nav > li {
    display: inline;
    width: 49%;
    text-decoration: none;
}

a, a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

code.language-plaintext.highlighter-rouge {
    color: rgb(105, 95, 95);
}

p.footer {
    font-size: small;
    text-align: center;
}
