body {
    padding-left: 25%;
    width: 50%;
    font-family: 'Inconsolata', monospace;
    line-height: 1.2;
}

h1.nav {
    text-align: center  ;
}

ul.nav {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex: auto;
    width: 100%;
    justify-content: space-between;
}

ul.nav > li {
    display: inline;
    text-decoration: none;
}

a, a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

code.language-plaintext.highlighter-rouge {
    color: rgb(105, 95, 95);
}

pre {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

img.profilovka {
    width: 25%;
    float: right;
}

p.published {
    font-size: x-small;
    font-style: italic;
}

div.footer {
    font-size: small;
    text-align: center;
}

.footer img {
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
